<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}"/>
    <title>Профиль</title>
</head>
<body>
<a href="..">Типо логтип который должен был сделать тИлек</a>
    <div class="ShowModalWindow">
        <div class="ModalWindow">
            <<form action="{% url 'create_recipe' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal_close">X</div>
                <h2>СОЗДАНИЕ РЕЦЕПТА</h2>
                <div class="ModalWindowBlock">
                    <div class="ModalWindowBlock_One">
                        <label>Название</label>
                        <input type="text" name="title" placeholder="название рецепта">
                        <label>Описание</label>
                        <textarea name="description" style="height: 100px;" placeholder="ингредиенты и как готовить время процесс готовки"></textarea>
                        <label>Категория</label>
                        <select name="category">
                            <option>ВКУСНО И ДОРОГО</option>
                            <option>БЫСТРО И ВКУСНО</option>
                            <option>ДЕЛИКАТЕСЫ</option>
                            <option>НАДОЛГО</option>
                        </select>
                    </div>
                    <div class="ModalWindowBlock_Two">
                        <div class="ModalWindowBlock_Two_Photo"></div>
                        <input type="file" name="photo">
                    </div>
                </div>
                <button type="submit" class="PostBtn">ОПУБЛИКОВАТЬ</button>
            </form>
        </div>
    </div>
    <div class="ShowModalWindow" id = "Profile">
        <div class="ModalWindow">
            <form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal_close">×</div>
                <h2>РЕДАКТИРОВАНИЕ ПРОФИЛЯ</h2>
                <div class="ModalWindowBlock">
                    <div class="ModalWindowBlock_Profile">
                        <label>Имя</label>
                        <br>
                        <input type="text" name="edit_name" value="{{ user.first_name }}" placeholder="Ваше имя">
                        <br>
                        <label>Номер</label>
                        <br>
                        <input type="text" name="edit_phone" value="{{ user.phone_number }}" placeholder="Ваш номер">
                        <br>
                        <label>Почта</label>
                        <br>
                        <input type="text" name="edit_email" value="{{ user.email }}" placeholder="Ваша почта">
                    </div>
                    <div class="ModalWindowBlock_Two_ChangePhoto">
                        {% if user.photo %}
                        <p>Текущее фото:</p>
                        <img src="{{ user.photo.url }}" alt="фото юзера">
                        {% endif %}
                        <input type="file" name="edit_photo">
                    </div>
                </div>
                <button type="submit" class="PostBtn">РЕДАКТИРОВАТЬ</button>
            </form>
        </div>
    </div>
    <header class="HeaderProfile">
        <div class="Authbtn" style="padding-top: 0;">
            <a href="{% url 'logout' %}">Выйти</a>
            
        </div>
        <div class="container">
            <div class="row">
                <div class="HeaderProfile_Block">
                    <div class="HeaderProfile_Block_One">
                        <div class="UserCard">
                            <img src="{{ user.photo.url }}" alt="фото юзера">
                            <div class="UserCardBody">

                              <a href="#" class="btn btn-primary center" id="EditProfile">РЕДАКТИРОВАТЬ</a>
                            </div>
                        </div>
                    </div>
                    <div class="HeaderProfile_Block_Two">
                        <h2 style="margin-bottom: 20px;">Профиль</h2>
                        <ul>
                            <li><b>Имя:</b> <span>{{ user.first_name }}</span></li>
                            <li><b>Номер:</b> <span>{{ user.phone_number }}</span></li>
                            <li><b>Почта:</b> <span>{{ user.email }}</span></li>
                            <li><b>Рецептов:</b> <span>12</span></li>
                            <li><b><a href="#">Сохраненные рецепты:</a></b> <span>1</span></li>
                        </ul>
                    </div>
                </div>
                <div class="HeaderProfile_Post">
                    <a href="#" class="btn btn-primary center" id="AddRecept">ДОБАВИТЬ РЕЦЕПТ</a>
                </div>
            </div>
        </div>
    </header>
    <section class="UserRecepies">
        <div class="container">
            <div class="row">
                <div class="UserRecepies_Header"><h1>РЕЦЕПТЫ АЛИШЕРА</h1></div>

                <div class="col-12">
                    <div class="UserRecepies_Recepies">
                        {% for recipe in recipes %}
                            <div class="card" style="width: 18rem;">
                                <img src="{{ recipe.photo.url }}" class="card-img-top" alt="картинка еды">
                                <div class="card-body">
                                    <h5 class="card-title">{{ recipe.title }}</h5>
                                    <p class="card-text">{{ recipe.category }}</p>
                                    <div class="RecipeBlock_ShortInfo_Statistics">
                                        <div class="RecipeBlock_ShortInfo_Statistics_Likes">
                                          <p><b>12</b></p>
                                          <img src="{% static 'icons/heart.png'%}" alt="картинка лайка" class="Usuall">
                                          <img src="{% static 'icons/Active heart.png'%}" alt="картинка лайка" class="Active">
                                        </div>
                                        <div class="RecipeBlock_ShortInfo_Statistics_Comments">
                                          <p><b>1</b></p>
                                          <img src="{% static 'icons/speech-bubble.png' %}" alt="картинка комментариев">
                                        </div>
                                        <div class="RecipeBlock_ShortInfo_Statistics_Saves">
                                          <p><b>0</b></p>
                                          <img src="{% static 'icons/save-instagram.png'%}" alt="картинка лайка" class="Usuall">
                                          <img src="{% static 'icons/Active save-instagram.png'%}" alt="картинка лайка" class="Active">
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>sda</footer>
    <script src="{% static 'js/script.js'%}"></script>
</body>
</html>