<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}"/>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <title>Student Recipes</title>
</head>
<body>
    <header class="HeaderHome">
        <div class="Authbtn">
            {% if user.is_authenticated %}
                <a href="/profile">личный кабинет</a>
            {% else %}
                <a href="/auth/login">личный кабинет</a>
            {% endif %}
        </div>
        <h1>Поделись своим рецептом!</h1>
    </header>
    <section class="mainContent">
        <div class="container">
            <div class="row">
                <div class="mainContent_Header">
                    <select id="category-select">
                        <option value="all">ПОПУЛЯРНОЕ</option>
                        <option value="ВКУСНО И ДОРОГО">ВКУСНО И ДОРОГО</option>
                        <option value="БЫСТРО И ВКУСНО">БЫСТРО И ВКУСНО</option>
                        <option value="ДЕЛИКАТЕСЫ">ДЕЛИКАТЕСЫ</option>
                        <option value="НАДОЛГО">НАДОЛГО</option>
                    </select>
                    <h2>ПОПУЛЯРНОЕ</h2>
                </div>

                <div class="col-12">
                  <div id="recipe-container" class="mainContent_Recepies">
                    {% for recipe in recipes %}
                    <div class="card" style="width: 18rem;">
                      <img src="{{ recipe.photo.url }}" class="card-img-top" alt="картинка еды">
                      <div class="card-body">
                        <h5 class="card-title">{{ recipe.title }}</h5>
                        <p class="card-text">{{ recipe.category }}</p>
                        <div class="RecipeBlock_ShortInfo_Statistics">
                          <div class="RecipeBlock_ShortInfo_Statistics_Likes">
                            <p><b>{{ recipe.likes_count }}</b></p>
                            {% if recipe.is_liked %}
                                <img src="{% static 'icons/Active heart.png' %}" alt="картинка лайка" class="like-image {{ heart_style }}" data-recipe-id="{{ recipe.id }}">
                            {% else %}
                                <img src="{% static 'icons/heart.png' %}" alt="картинка лайка" class="like-image {{ heart_style }}" data-recipe-id="{{ recipe.id }}">
                            {% endif %}
                          </div>
                          <div class="RecipeBlock_ShortInfo_Statistics_Comments">
                            <p><b>1</b></p>
                            <img src="{% static 'icons/speech-bubble.png' %}" alt="картинка комментариев">
                          </div>
                          <div class="RecipeBlock_ShortInfo_Statistics_Saves">
                            <p><b>0</b></p>
                            <img src="{% static 'icons/save-instagram.png'%}" alt="картинка лайка" class="Usuall">
                            <img src="{% static 'icons/Active save-instagram.png'%}" alt="картинка лайка" class="Active">
                          </div>
                        </div>
                        <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
            </div>
        </div>
    </section>
    <footer>sda</footer>
<script src="{% static 'js/likes_coments_saves.js' %}"></script>
<script src="{% static 'js/filter.js' %}"></script>
</body>
</html>