@charset "UTF-8";
@import "fonts" GilroyBold;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F1F8F6;
  height: 100%;
}

.HeaderHome {
  position: relative;
  background: url("../imgs/back.jpg") center center/cover no-repeat;
  width: 100%;
  padding-top: 15px;
  height: 480px;
}
.HeaderHome h1 {
  text-align: center;
  padding: 10% 0;
  font-family: "Inter" sans-serif;
  font-weight: 700;
}

nav ul {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
}
nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

.Authbtn {
  float: right;
}
.Authbtn a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding-right: 10px;
}

.mainContent {
  padding: 40px 0 40px 0;
}
.mainContent_Header {
  margin: 0 auto;
  margin-bottom: 30px;
}
.mainContent_Header select {
  float: left;
}
.mainContent_Header h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}
.mainContent_Recepies {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-primary {
  background-color: #FFA500;
  margin: 0 auto;
  margin-top: 10px;
  border: none;
  text-align: center;
  display: block;
  width: 200px;
}
.btn-primary:hover {
  background-color: red;
}

.card {
  margin-bottom: 15px;
}

footer {
  min-height: 60px;
  width: 100%;
  display: block;
  background-color: #222222;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

.LogoInHome {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background: #ffffff;
  width: 200px;
}
.LogoInHome img {
  display: block;
  width: 160px;
  height: 80px;
  margin: 0 auto;
}

.card-body .RecipeBlock_ShortInfo_Statistics_Likes p b {
  color: #000000;
}
.card-body .RecipeBlock_ShortInfo_Statistics_Comments p b {
  color: #000000;
}
.card-body .RecipeBlock_ShortInfo_Statistics_Saves p b {
  color: #000000;
}

.HeaderProfile {
  position: relative;
  background-color: #FFA500;
  height: 300px;
  width: 100%;
  padding-top: 40px;
}
.HeaderProfile_Block {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.HeaderProfile_Block_One {
  width: 100%;
}
.HeaderProfile_Block_Two {
  width: 100%;
  font-size: 18px;
}
.HeaderProfile_Block_Two ul {
  padding: 0;
  margin: 0;
}
.HeaderProfile_Block_Two ul li {
  list-style: none;
  font-size: 18px;
  font-family: "Roboto";
}
.HeaderProfile_Block_Two ul li b {
  color: gray;
}
.HeaderProfile_Block_Two ul li b a {
  color: gray;
}
.HeaderProfile_Block_Two ul li span {
  font-weight: 400;
}
.HeaderProfile_Post {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%);
}
.HeaderProfile_Post a {
  background-color: #74D474;
}
.HeaderProfile_Post a:hover {
  background-color: #ffffff;
  color: #74D474;
  border: #74D474 solid 1px;
}

.UserRecepies {
  padding: 180px 0 40px 0;
  min-height: 800px;
}
.UserRecepies_Header {
  margin: 0 auto;
  margin-bottom: 40px;
}
.UserRecepies_Header h1 {
  text-align: center;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.UserRecepies_Recepies {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.UserCard {
  height: 350px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.UserCard img {
  top: 50%;
  left: 50%;
  border-radius: 20px 20px 0 0;
  width: 30rem;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}
.UserCard a {
  width: 182px;
  height: 40px;
  font-size: 18px;
  color: #ffffff;
}
.UserCard a:hover {
  width: 182px;
  height: 40px;
  font-size: 18px;
  color: #FFA500;
  background-color: #ffffff;
  border: #FFA500 solid 1px;
}

.LogoInProfile {
  display: block;
  width: 100%;
  background: #ffffff;
}
.LogoInProfile img {
  width: 160px;
  height: 80px;
}

.ShowModalWindow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}
.ShowModalWindow .ModalWindow {
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  width: 80%;
  border-radius: 5px;
  padding: 10px;
  height: 400px;
  background-color: white;
}
.ShowModalWindow .ModalWindow h2 {
  text-align: center;
}
.ShowModalWindow .ModalWindow .modal_close {
  display: inline;
  font-size: 20px;
  float: right;
  font-size: 30px;
}

.ModalWindowBlock {
  padding-top: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 686px;
}
.ModalWindowBlock_One {
  width: 200px;
}
.ModalWindowBlock_One select {
  margin-top: 5px;
}
.ModalWindowBlock_Two {
  width: 400px;
  display: flex;
  flex-direction: column;
}
.ModalWindowBlock_Two_Photo {
  width: 400px;
  background-color: #222222;
  height: 140px;
  margin-bottom: 20px;
}
.ModalWindowBlock_Two_ChangePhoto {
  width: 230px;
}
.ModalWindowBlock_Two_ChangePhoto img {
  top: 50%;
  left: 50%;
  border-radius: 20px 20px 0 0;
  width: 16rem;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}

.MainContentOfAuth_Header {
  text-align: center;
}

.ModalWindowBlock_Profile {
  padding-top: 20px;
  width: 260px;
}
.ModalWindowBlock_Profile input {
  height: 44px;
  width: 100%;
}

.PostBtn {
  display: block;
  margin: 0 auto;
  width: 180px;
  height: 40px;
  font-size: 18px;
  background-color: #F82323;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}

.HeaderOfRecipePage {
  position: relative;
  background: #FFA500;
  width: 100%;
  padding: 40px 40px 10px 40px;
  min-height: 680px;
}
.HeaderOfRecipePage a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.RecipeBlock {
  display: flex;
  gap: 40px;
}
.RecipeBlock_Img {
  width: 50rem;
  height: 100%;
}
.RecipeBlock_Img img {
  top: 50%;
  left: 50%;
  width: 50rem;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.RecipeBlock_ShortInfo h2 {
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.RecipeBlock_ShortInfo ul {
  padding: 0;
  margin: 0;
}
.RecipeBlock_ShortInfo ul li {
  margin-top: 10px;
  list-style: none;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
}
.RecipeBlock_ShortInfo ul li span {
  color: #ffffff;
}
.RecipeBlock_ShortInfo_Statistics {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}
.RecipeBlock_ShortInfo_Statistics_Likes {
  display: flex;
  gap: 10px;
  align-items: center;
}
.RecipeBlock_ShortInfo_Statistics_Likes p {
  margin: 0;
  padding: 0;
}
.RecipeBlock_ShortInfo_Statistics_Likes p b {
  font-size: 22px;
  color: #ffffff;
}
.RecipeBlock_ShortInfo_Statistics_Likes .Active {
  display: none;
  width: 30px;
  height: 30px;
}
.RecipeBlock_ShortInfo_Statistics_Likes .Usuall {
  display: block;
  width: 30px;
  height: 30px;
}
.RecipeBlock_ShortInfo_Statistics_Comments {
  display: flex;
  gap: 10px;
  align-items: center;
}
.RecipeBlock_ShortInfo_Statistics_Comments p {
  margin: 0;
  padding: 0;
}
.RecipeBlock_ShortInfo_Statistics_Comments p b {
  font-size: 22px;
  color: #ffffff;
}
.RecipeBlock_ShortInfo_Statistics_Comments img {
  width: 30px;
  height: 30px;
}
.RecipeBlock_ShortInfo_Statistics_Saves {
  display: flex;
  gap: 10px;
  align-items: center;
}
.RecipeBlock_ShortInfo_Statistics_Saves p {
  margin: 0;
  padding: 0;
}
.RecipeBlock_ShortInfo_Statistics_Saves p b {
  font-size: 22px;
  color: #ffffff;
}
.RecipeBlock_ShortInfo_Statistics_Saves .Active {
  display: none;
  width: 30px;
  height: 30px;
}
.RecipeBlock_ShortInfo_Statistics_Saves .Usuall {
  display: block;
  width: 30px;
  height: 30px;
}

.Coments {
  padding: 40px;
}
.Coments_Header {
  margin: 0 auto;
  margin-bottom: 20px;
}
.Coments_Header h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
}
.Coments_Block_Post {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.Coments_Block_Post form {
  display: flex;
  gap: 10px;
}
.Coments_Block_Post form input {
  min-height: 40px;
  width: 400px;
}
.Coments_Block_Post form .Post–°omment {
  font-family: "Roboto", sans-serif;
  width: 180px;
  height: 40px;
  font-size: 18px;
  background-color: #F82323;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
.Coments hr {
  width: 200px;
  margin: 0 auto;
}
.Coments_UserTextBlock p {
  margin: 0;
  padding: 0;
}
.Coments_UserTextBlock p b {
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.Coments_Coment {
  display: flex;
  gap: 10px;
  align-items: center;
  vertical-align: center;
}
.Coments_Coment img {
  border-radius: 100%;
  width: 4rem;
  height: 60px;
  top: 50%;
  left: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Coments_Coment .ComentText {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
  padding-bottom: 0;
}
.Coments_Coment .ComentData {
  color: gray;
  margin-bottom: 0;
  padding-bottom: 0;
}

.LogoInRecipe {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background: #ffffff;
  width: 200px;
}
.LogoInRecipe img {
  display: block;
  width: 160px;
  height: 80px;
  margin: 0 auto;
}

.MainContentOfAuth {
  padding: 12% 60px;
}

.logo {
  width: 240px;
  background: #ffffff;
  margin: 0 auto;
  margin-bottom: 40px;
}
.logo img {
  width: 160px;
  height: 80px;
  display: block;
  margin: 0 auto;
}

.headerOfSaved {
  margin: 0 auto;
}
.headerOfSaved h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
}

.Saved_Block {
  width: 100%;
  padding: 40px;
  background: #ffffff;
}
.Saved_Block ol li a {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #000000;
}

@media (max-width: 1200px) {
  .RecipeBlock {
    flex-direction: column;
  }
  .RecipeBlock_ShortInfo h2 {
    text-align: center;
  }
  .RecipeBlock_Img {
    width: 100%;
  }
  .RecipeBlock_Img img {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .HeaderOfRecipePage {
    min-height: 800px;
  }
  .HeaderHome h1 {
    padding: 20% 0;
  }
  .HeaderProfile_Block {
    justify-content: center;
    flex-direction: column;
    min-height: 510px;
  }
  .HeaderProfile_Block_Two {
    width: 50%;
  }
  .HeaderProfile_Block_One {
    width: 50%;
    margin: 0 auto;
  }
  .HeaderProfile_Block_One .UserCard {
    height: 210px;
  }
  .HeaderProfile_Block_One .UserCard img {
    width: 22rem;
    height: 160px;
  }
  .RecipeBlock_ShortInfo_Statistics {
    justify-content: center;
  }
  .UserRecepies {
    padding-top: 320px;
  }
}
@media (max-width: 767px) {
  .HeaderHome h1 {
    padding: 30% 0;
  }
  .HeaderProfile_Block {
    width: 96%;
    min-height: 510px;
  }
  .HeaderProfile_Block_One .UserCard img {
    width: 14rem;
  }
}
@media (max-width: 575px) {
  .HeaderHome h1 {
    padding: 50% 0;
  }
  .HeaderProfile_Block {
    width: 96%;
  }
  .HeaderProfile_Block_One .UserCard {
    height: 166px;
  }
  .HeaderProfile_Block_One .UserCard a {
    width: 144px;
    height: 40px;
    font-size: 15px;
    color: #ffffff;
  }
  .HeaderProfile_Block_One .UserCard img {
    width: 100%;
    height: 60%;
  }
  .HeaderProfile_Block_Two ul li {
    list-style: none;
    font-size: 15px;
    font-family: "Roboto";
  }
  .Coments_Block_Post form input {
    width: 100%;
  }
  .Coments_Block_Post form button {
    width: 130px;
  }
  .RecipeBlock_Img {
    width: 100%;
  }
  .RecipeBlock_Img img {
    height: 200px;
  }
  .LogoInProfile img {
    display: block;
    margin: 0 auto;
  }
}