*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body{
    background-color:#F1F8F6;
}
.HeaderHome{
    
    background: url('../imgs/back.jpg') center center/cover no-repeat
    
}
nav{
    width: 100%;
    padding-top: 15px;
    height: 480px;
    display: flex;
    align-items: center;
}
nav .menu{
    display:flex;
    width: 100%;
    gap: 20px;
    margin: 0 auto;
    justify-content: center;
    
}
.Authbtn{
    float: right;
}
.Authbtn a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding-right: 10px;
}


.mainContent{
    padding: 40px 0 40px 0;
}
.mainContent_Header{
    margin: 0 auto;
    margin-bottom: 40px;
}
.mainContent_Header h1{
    text-align: center;
}
.mainContent_Recepies{
    display: flex;
    gap:40px;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-primary{
    background-color: #FFA500;
    margin: 0 auto;
    border: none;
    text-align: center;   
    display:block;
    width: 200px; 
}
.btn-primary:hover{
    background-color:red;
}
.card{
    margin-bottom: 15px;
}
footer{
    height: 40px;
    width: 100%;
    background-color: #222222;
}

.HeaderProfile{
    position: relative;
    background-color:#FFA500;
    height: 300px;
    width: 100%;
    padding-top: 40px;
}

.HeaderProfile_Block{
    display: flex;
    align-items:center;
    background-color:#ffffff;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.UserRecepies{
    padding: 180px 0 40px 0;
}

.UserRecepies_Header{
    margin: 0 auto;
    margin-bottom: 40px;
}
.UserRecepies_Header h1{
    text-align: center;
}
.UserRecepies_Recepies{
    display: flex;
    gap:40px;
    flex-wrap: wrap;
    justify-content: center;
}
.UserCard{
    height: 350px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.UserCard img{
    top:50%;
    left:50%;
    border-radius: 20px 20px 0 0;
    width:30rem;
    height:230px;
    object-fit:cover;
}
.UserCard a{
    width: 182px;
    height: 40px;
    font-size: 18px;
    color: #ffffff;
}
.UserCard a:hover{
    width: 182px;
    height: 40px;
    font-size: 18px;
    color: #FFA500;
    background-color:#ffffff;
    border: #FFA500 solid 1px;
}

.HeaderProfile_Block_Two{
    width:100%;
    font-size: 18px;
}
.HeaderProfile_Post{
    position: absolute;
    bottom: -156px;
    left: 50%;
    transform: translate(-50%);
}
.HeaderProfile_Post a{
    background-color:#74D474;
}
.HeaderProfile_Post a:hover{
    background-color:#ffffff;
    color: #74D474;
    border: #74D474 solid 1px;
}
.ShowModalWindow{
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}
.ModalWindow{
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    height: 400px;
    background-color: white;
}
.modal_close{
    font-size: 20px;
    float:right;

}
.ModalWindow h2{
    text-align: center;
}
.ModalWindowBlock{
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 686px;
}

.ModalWindowBlock_One{
    width: 200px;
}
.ModalWindowBlock_One select{
    margin-top: 5px;
}
.PostBtn{
    display: block;
    margin: 0 auto;
    width: 140px;
    height: 30px;
    background-color:#F82323;
    color:#ffffff;
    border: none;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}
.ModalWindowBlock_Two{
    width: 400px;
}
.ModalWindowBlock_Two_Photo{
    width: 400px;
    background-color:#222222;
    height: 140px;
    margin-bottom: 20px;
}

.MainContentOfAuth_Header{
    text-align: center;
}